@import 'mixins';

.title {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #dedede;
  font-family: Georgia, "hiragino sans gb", stheiti, "wenquanyi micro hei", 微软雅黑, 宋体, serif;
  background-color: #333;

  @include screen-adapt('phone') {
    font-size: 13px;
  }
} 

.content {
  flex: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
