.markdown-editor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.loginWrapper {
  :global {
    .ant-modal-content {
      background-color: rgba(0,0,0,0);
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.editor,
.preview {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.editor .CodeMirror,
.editor .CodeMirror-scroll {
  min-height: 400px;
}

.preview {
  overflow: auto;
  background-color: #f9f9f9;
}


.markdown {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1, h2, h3, h4, h5 {
    margin: 20px 0;
  }

  p {
    line-height: 1.8; /* 调整这个值来改变行高 */
    margin: 10px 0;
  }

  blockquote {
    border-left: 6px solid #c6c2c2;
    margin: 10px 0;
    padding: 1px 16px;
    background-color: #efe9e0;
    color: #666;
  }

  .code {
    padding: 0px 7px;
    margin: 5px 5px;
    background: #fef1ef;
    border-radius: 5px;
    color: #ff502c;
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    vertical-align: middle;
  }

  a {
    color: blue;
    padding: 10px;
  }
}
