.wrapper{
  /*弹性布局 让子元素称为弹性项目*/
  display: flex;
}

.button{
  /*overflow: hidden;*/
  position: relative;
  padding: 10px 20px;
  color: #2b777b;
  /*取消a表现原有的下划线*/
  text-decoration: none;
  /*同样加个过渡*/
  transition: all 0.5s;
}

:global(.dark) .button {
  color: #4fd1c7;
}

.button:hover {
  color: #fff;
  border-radius: 5px;
  background-color: #248a8f;
  box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}

:global(.dark) .button:hover {
  background-color: #1a6b6f;
  box-shadow: 0 0 5px #4fd1c7,0 0 25px #4fd1c7,0 0 50px #4fd1c7,0 0 100px #4fd1c7;
}

.button span {
  position: absolute;
}
.button span:first-child {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  /*to right 就是往右边 下面的同理*/
  background: linear-gradient(to right,transparent,#03e9f4);
  /*动画 名称  时长 linear是匀速运动 infinite是无限次运动*/
  animation: move1 1s linear infinite;

}

:global(.dark) .button span:first-child {
  background: linear-gradient(to right,transparent,#4fd1c7);
}

.button span:nth-child(2){
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(transparent,#03e6f4);
  /*这里多了个0.25s其实是延迟时间*/
  animation: move2 1s linear 0.25s infinite;
}

:global(.dark) .button span:nth-child(2) {
  background: linear-gradient(transparent,#4fd1c7);
}

.button span:nth-child(3){
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left,transparent,#03e9f4);

  animation: move3 1s linear 0.5s infinite;
}

:global(.dark) .button span:nth-child(3) {
  background: linear-gradient(to left,transparent,#4fd1c7);
}

.button span:last-child{
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(#03e9f4,transparent);
  animation: move4 1s linear 0.75s infinite;
}

:global(.dark) .button span:last-child {
  background: linear-gradient(#4fd1c7,transparent);
}

/*写一下动画 */
@keyframes move1{
0% {
  left: -100%;
}
50%,
100%{
  left: 100%;
}
}

@keyframes move2{
0% {
  top: -100%;
}
50%,
100% {
  top: 100%;
}
}

@keyframes move3{
0%{
  right: -100%;
}
50%,
100%{
  right: 100%;
}
}

@keyframes move4{
0%{
  bottom: -100%;
}
50%,
100%{
  bottom: 100%;
}
}