@import 'mixins';

.wrapper {
  // padding: 30px 30px 50px 30px;

  @include screen-adapt('phone') {
    padding: 5px;
  }

  @include screen-adapt('pad') {
    display: 30px;
  }
}

.fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.shaket {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: var(--lang-color);
  transition: transform 0.1s;
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: 600;
  padding: 0 0 15px 30px;

  @include screen-adapt('phone') {
    font-size: 18px;
    padding: 0 0 10px 0;
    display: block;
  }

  @include ellipsis(2);
}

.tags {
  margin: 15px 0;

  @include screen-adapt('phone') {
    display: none;
  }
}

.article {
  // max-width: 80%;
  margin: 15px 0;
  padding: 25px 25px;
  border-radius: 20px;
  transition: box-shadow 0.5s, opacity 0.5s;
  opacity: 0;
  // transform: translateX(500px);
  animation: slideIn 0.6s forwards;
  animation-delay: calc(0.4s * var(--i));

  @include screen-adapt('phone') {
    padding: 15px;
    margin: 15px;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

.article:hover {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(145, 144, 144, 0.3);
  /* 鼠标悬停时的阴影效果 */
  opacity: 1;
  /* 鼠标悬停时透明度为1 */
  // border-bottom: 1px solid #ddd;

  .shaket {
    animation: shake 0.7s forwards;
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.avator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  @include screen-adapt('phone') {
    width: 120px;
  }

  img {
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
}

.date {
  color: #6e6e6e;
  font-size: 14px;
  display: flex;

  span {
    flex: 1;
    @include ellipsis(1);
  }

  @include screen-adapt('phone') {
    margin: 10px 0;
    font-size: 12px;
    display: block;

    span {
      margin: 7px 0;
      display: block;
      text-align: left !important;
      @include ellipsis(1);
    }
  }
}

.detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* 显示的行数 */
  color: #b47960;

  @include screen-adapt('phone') {
    font-size: 13px;
  }
}