@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.highlight-text {
  @apply dark:text-sky-400 text-sky-600 font-semibold;
}

#main-content {
  transition: transform 0.5s ease;
  transform-origin: left center;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: 100vh;
  overflow: auto;
}

#main-content.active {
  transform: rotateY(46deg);
}

#root {
  perspective: 1000px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media print {
  html, body {
    font-size: 12px !important;
    color: black !important;
    background-color: white !important;
  }
  a {
    color: #333 !important;
    text-decoration: none !important;
  }
  @page {
    margin: 1.5cm !important;
    size: A4 !important;
  }
}
