@import 'mixins';

.logo {
  transition-property: font-size letter-spacing color text-shadow;
  transition-duration: 0.5s;
  
  &:hover {
    font-family: 'Luckiest Guy';
    font-size: 3vmin;
    letter-spacing: 3px;
    color: #d2d2d2;
    text-shadow: 1px -1px #fff, -1px 0.4px #999, -4px 5px 4px gray;
  }
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  padding: 30px 40px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  @include screen-adapt('phone') {
    padding: 13px 13px;
    font-size: 13px;
  }

  a {
    color: #333;
    font-weight: 500;
  }
}

.menu-item {
  padding: 7px 10px;
  transition-property: font-size letter-spacing color text-shadow;
  transition-duration: 0.5s;
  
  &:hover {
    font-size: 2.5vmin;
    letter-spacing: 3px;
    color: #d2d2d2;
    text-shadow: 1px -1px #fff, -1px 0.4px #999, -4px 5px 4px gray;
  }
}

.sentence {
  font-style: italic;
  flex: 6;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease;

  @include ellipsis(1);

  &-show {
    opacity: 1;
  }
}